
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             
  }

  @keyframes slideIn {
      from { transform: translateX(110%); opacity: 0; }
      to   { transform: translateX(0);    opacity: 1; }
    }
   @keyframes slideOut {
      from { transform: translateX(0);    opacity: 1; }
      to   { transform: translateX(110%); opacity: 0; }
    }
    .toast-enter { animation: slideIn 0.35s ease-in-out forwards; }
    
}
