
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             
  }

  @keyframes slideIn {
      from { transform: translateX(110%); opacity: 0; }
      to   { transform: translateX(0);    opacity: 1; }
    }
   @keyframes slideOut {
      from { transform: translateX(0);    opacity: 1; }
      to   { transform: translateX(110%); opacity: 0; }
    }
    .toast-enter { animation: slideIn 0.35s ease-in-out forwards; }


    .card-flow{
      animation: cardFlow 20s linear infinite forwards;
    }
    .card-flow:hover{
      animation-play-state: paused;
    }

    @keyframes cardFlow {
      from { transform: translateX(0);   ; }
      to   { transform: translateX(-110%);  }
    }

    @keyframes scale-in {
      from { transform: scale(0.85); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
  }
    
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


